* {
    padding: 0;
    margin: 0;
}
body{
    
}
.container {
    width: 80%;
    margin: 0 auto;
    
}
header {
    background: black;
    position: fixed;/*fixed = sticky + absolute*/
    width: 100%;
    top: 0;
    z-index: 2;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    height: 70px;
    align-items: center;
}
nav .nav__ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
nav .nav__ul .nav__link {
    list-style: none;
}
nav .nav__ul .nav__link a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
nav .nav__ul .nav__link a:hover {
    color: rgb(149, 148, 148);
    cursor: pointer;
}
.wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.wrapper .card {
    width: 33%;
    background-image: url("https://picsum.photos/400/200");
    z-index: 1;
    background-repeat: no-repeat;
    height: 240px;
    background-size: cover;
    padding: 20px 12px;
    cursor: pointer;
    border-radius: 10px;
}
section {
    padding: 50px;
    background: silver;
    margin-top: 100px;
}
/*inline-block orasida joy qoldirmaydi*/
section .image__section {
    display: flex;
    justify-content: space-around;
    margin: 12px;
}
section .image__section img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: center;/*holasen foiz berib yoki px berbi positionini ozgartira olamiz*/
    background: black;
    /*opacity: 0.5;
    filter: brightness(1);/*foiz da yoki foiz siz yorqinligini belgilasa boladi*/
    /*filter: blur(10px);/*blur effecti holasa hira qila olasiz va uni px da belgilaysiz*/
   /* filter: contrast(10); yorqinligini oshirsa boladi*/
   /* zoom: 1; holasangiz 1 baravar yoki 2 baravar yaqinlashtirasiz*/
   transition: all 0.3s ease;
}
section .image__section img:hover {
    filter: blur(0px);
    cursor: pointer;
}
/* dropdown menu*/
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown .menu-content {
    background: white;
    position: absolute;
    border-radius: 4px;
    display: none;
    padding: 12px;
    top: 20px;
    /*overflow: auto;*/
}
.dropdown .menu-content a {
    color: black;
    margin: 2px;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 3px;
}
.dropdown .button {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.dropdown .menu-content a:hover {
    color: black;
    background: silver;
    z-index: 3;
}
.dropdown:hover .menu-content{
    display: block;
}







/*.full {
    height: 4000px;
}
.box {
    width: 220px;
    height: 220px;
}
.box:nth-child(1) {
    background: blue;
    position: absolute;*/
    /* position :absolute is will go always to near for example to body cause in 
    html box is near to body */
   /* z-index: 1;
}
.box:nth-child(2) {
    background: black;
    position: absolute;
    z-index: 2;

}
.box:nth-child(3) {
    background: red;
    position: absolute;
    z-index: 3;*/   
    /*qaysibirini soni kata bolsa shu ekroni oldi
    simiga otadi z-indexda*/

/*position static element , position element is as like margin element*/
/*.container {
    border: 4px solid red;
    width: 600px;
    height: 500px;
    margin: 20px auto;
    position: relative;
}*/
/* 
/*position reletive qilish kere
containeri shunda positish absolute
body emas containeri hisobga ola*/

/*position elementi oziga
 eng yaqin elementga joylashadi agar reletive bolsa*/
 
 /*position: hardoyim staticda boladi yan
 sherigini ham surib ketadi marginga ohshab,
 */

 /*z-index hardoyim 0 qiymatida boladi */
 /*section {
    width: 500px;
    height: 500px;
    border: 5px solid blue;
    display: flex;
    position: sticky;
    top: 0;
 }
 section .home:nth-child(1) {
    height: 170px;
    width: 170px;
    background: green;
 }
 section .home:nth-child(2) {
    height: 170px;
    width: 170px;
    background: black;
 }
 section .home:nth-child(3) {
    height: 170px;
    width: 170px;
    background: green;
 }*/