* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.card {
    background: green;
    max-height: 200px;
    max-width: 600px;
}
table {
    width: 600px;
    margin: 40px auto;
}
thead {
    background: rgb(80, 132, 155);
}