* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --section-bg:rgb(36, 175, 36);/*variable*/
    --bootom-bg: rgb(185, 65, 89);
    --section-width: 100%
}

html {
    scroll-behavior: smooth;
}
.container {
    width: 80%;
    margin: 0 auto;
    
}
header {
    background: black;
    position: fixed;/*fixed = sticky + absolute*/
    width: 100%;
    top: 0;
    z-index: 2;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    height: 70px;
    align-items: center;
}
nav .nav__ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
nav .nav__ul .nav__link {
    list-style: none;
}
nav .nav__ul .nav__link a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
nav .nav__ul .nav__link a:hover {
    color: rgb(149, 148, 148);
    cursor: pointer;
}
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown .menu-content {
    background: white;
    position: absolute;
    border-radius: 4px;
    display: none;
    padding: 12px;
    top: 20px;
    /*overflow: auto;*/
}
.dropdown .menu-content a {
    color: black;
    margin: 2px;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 3px;
}
.dropdown .button {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.dropdown .menu-content a:hover {
    color: black;
    background: silver;
    z-index: 3;
}
.dropdown:hover .menu-content{
    display: block;
}

/*header section is end*/

main {
    margin-top: 70px;
}

/*section started*/
#one {
    width: 100%;
    height: 100vh;
    background: var(--section-bg);/*vari ichi funksiya deyiladi*/
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#two {
    width: 100%;
    height: 100vh;
    background: var(--section-bg);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#three {
    width: 100%;
    height: 100vh;
    background: var(--bootom-bg);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/*section end*/
.footer {
    width: 100%;
    height: 70px;
    background: black;
    font-size: 30px;
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
}
.footer p {
    color: white;
}
/*to top btn*/

 #btn {
     width: 110px;
     height: 40px;
     border: none;
     position: fixed;
     bottom: 15px;
     right: 15px;
     background: linear-gradient(to right,red,black);
}
#btn a {
    color: black;
    cursor: pointer;
}
#btn a:hover {  
    color: black;
    background: yellow;
    cursor: pointer;
    padding: 10px 40px;
}
#btn a:active {
    color: white;
    background: darkblue;
    cursor: pointer;
    padding: 10px 40px;
}
/*svg*/

/*step 2*/

input[type="checkbox"]{
    width: 40px;
    height: 40px;
    display: block;
    background: silver;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
}
input[type="checkbox"]::after {
    content: "\2713";
    font-size: 40px;
    position: absolute;
    display: none;
}
input[type="checkbox"]:hover {
    background: rgb(149, 236, 149);
    cursor: pointer;
    box-shadow: inset ;
}
input[type="checkbox"]:checked::after {
    font-size: 40px;
    position: absolute;
    display: block;
}