* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.card {
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 8px black;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="checkbox"] {
    width: 70px;
    height: 28px;
    background: silver;
    appearance: none;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px silver;
}
input[type="checkbox"]::after {
    content: "";
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    position: absolute;
    left: 0;
    transition: all .03s ease;
}
input[type="checkbox"]:checked:after {
    content: "";
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    position: absolute;
    left: 42px;
}

input[type="checkbox"]:checked {
    width: 70px;
    height: 28px;
    background: black;
    appearance: none;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px silver;
}