* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.page {
    width: 100%;
    height: 100vh;
    background:rgb(135, 172, 206);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 450px;
    height: 550px;
    background: white;
    overflow: auto;
}
.container header {
    width: 100%;
    height: 75px;
    background: rgb(75, 89, 196);
   
}
.container header nav {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container header nav .nav__brand-left {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 700;
    color: white;
    margin-left: 30px;
    margin-bottom: 5px;
}
.container header nav .nav__brand-left span {
    font-size: 40px;
    color: white;
    position: relative;
    right: 10px;
    top: 15px;
}
.container header nav .nav__brand-right i{
    font-size: 25px;
    color:rgb(135, 172, 206);
    margin-right: 20px;
    margin-top: 5px;
}
main {
}

main .box-2 .clock {
    font-size: 19px;
    text-transform: uppercase;
    color: gray;
  
}
main .box-2 .button {
    height: 150px;
    width: 200px;
    clip-path: polygon(4% 68%, 100% 70%, 100% 100%, 13% 99%, 12% 71%);
    background:rgb(135, 172, 206);

}
main .box-3 .clock {
    font-size: 19px;
    text-transform: uppercase;
    color: gray;
  
     
}
main .box-3 .button {
    height: 150px;
    width: 300px;
    clip-path: polygon(4% 68%, 100% 70%, 100% 100%, 13% 99%, 12% 71%);
    background:rgb(40, 44, 49);
   
    
}
main .box-4 .clock {
    font-size: 19px;
    text-transform: uppercase;
    color: gray;
 
    
}
main .box-4 .button {
    clip-path: polygon(4% 68%, 100% 70%, 100% 100%, 13% 99%, 12% 71%);
    height: 150px;
    width: 200px;
    background:rgb(135, 172, 206);
   
    
}
main .box-5 .clock {
    font-size: 19px;
    text-transform: uppercase;
    color: gray;
 

}
main .box-5 .button {
    height: 150px;
    width: 300px;
    clip-path: polygon(4% 68%, 100% 70%, 100% 100%, 13% 99%, 12% 71%);
    background: rgb(207, 108, 108);
}