* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: auto;
}
header {
    background: rgba(255, 255, 255, 1);
    width: 100%;
    height: 70px;
    padding: 10px;
}
nav {
    width: 75%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 1);
    align-items: center;
    margin: 0 auto;
}
nav .nav-brand {
    font-size: 20px;
    padding-left: 20px;
    color: rgba(58, 95, 86, 1);
}
nav .nav-ul {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}
nav .nav-ul .nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    list-style: none;
    text-decoration: none;
}
nav .nav-ul .nav-link a {
    text-decoration: none;
    color: rgba(58, 95, 86, 1);
}
nav .nav-ul .btn-1 {
    width: 122px;
    height: 44px;
    display: flex;
    background: rgba(58, 95, 86, 1);
    border-radius: 6px;
    border: none;
    justify-content: space-evenly;
    align-items: center;
}
nav .nav-ul .btn-1 h3 {
    line-height: 16px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
nav .nav-ul .btn-1 span {
    line-height: 16px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
/*main start*/
main{
    width: 100%;
    height: 1200px;
    background: rgba(244, 243, 240, 1);
    display: flex;
}
main .container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 300px;
}
.selection-1 {
    width: 600px;
    
}
.selection-1 h1 {
    color: rgba(58, 95, 86, 1);
    font-family: Source Serif Pro;
    font-weight: 400;
    font-style: regular;
    font-size: 48px;
    line-height: 56.6px;
}
.selection-1 .lorem {
    margin-top: 20px;
    font-family: Roboto;
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 22.4px;
}
.selection-1 .btn-2 {
    margin-top: 20px;
    background: rgba(58, 95, 86, 1);
    color: white;
    font-family: Roboto;
    font-weight: 400;
    font-style: regular;
    font-size: 20px;
    line-height: 28px;
    width: 100px;
    height: 44px;
    border-radius: 6px;
    
}
.img-1{
   background-image: url("../images/74da77e07dba1cbebf2b362b61fa3b82eb3b1887\ \(2\).jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom right;
   width: 552px;
   height: 773px;
   border-radius: 24px;
   margin-left: 100px;
}
.color1 {
   width: 450px;
   height: 350px;
   background: linear-gradient(to right,rgba(58, 95, 86, 0.55),rgba(58, 95, 86, 0));
   position: relative;
   display: flex;
   align-items: end;
}
.container-2 {
    width: 80%;
    height: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-2 header {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 159px;
}
.container-2 header .fa-brands {
    font-size: 70px;
}
.container-2 header .services {
    font-weight: 400;
    font-family: Source Serif Pro;
    font-style: Regular;
    font-size: 32px;
    line-height: 38.4px;
    margin-top: 10px;
    color: rgba(58, 95, 86, 1);
}
.container-2 header .lorem-2 {
    font-weight: 400;
    font-style: Regular;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 10px;
    color: rgba(41, 44, 50, 1);
}
.section-2{
    margin-top: 100px;
    width: 100%;
    height: 922px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}
.section-2 .box {
   width: 379px;
   height: 300px;
   display: flex;
   flex-direction: column;
   margin: 10px;
   background: rgba(244, 243, 240, 1);
   border-radius: 16px;
   padding-left: 30px;
   padding-top: 30px;
}
.section-2 .box .circle {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: rgba(58, 95, 86, 0.1);
}
.section-2 .box .main-text {
    font-family: Source Serif Pro;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 28.4px;
    letter-spacing: 0%;
    color: rgba(58, 95, 86, 1);
    margin-top: 10px;
}
.section-2 .box .mini-text {
    font-family: Source Serif Pro;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    color: rgba(41, 44, 50, 1);
    margin-top: 10px;

}
.section-2 .box .read-more {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 23.8px;
    letter-spacing: 0%;
    color: rgba(58, 95, 86, 1);
    margin-top: 15px;
}
.section-2 .box .read-more i {
    position: relative;
    left: 10px;
    top: 3px;
}
.pictured {
    width: 1690px;
    height: 990px;
    background: rgba(244, 243, 240, 1);
    position: relative;
    bottom: 130px;
}
.container-3 {
    width: 1200px;
    margin: 0 auto;
    height: 690px;
    margin-top: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
}
.container-3 header {
    width: 600px;
    height: 159px;
    background: rgba(244, 243, 240, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-3 header .fa-brands {
    font-size: 70px;
}
.container-3 header .services {
    font-weight: 400;
    font-family: Source Serif Pro;
    font-style: Regular;
    font-size: 32px;
    line-height: 38.4px;
    margin-top: 10px;
    color: red;
}
.container-3 header .lorem-2 {
    font-weight: 400;
    font-style: Regular;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 10px;
    color: rgba(41, 44, 50, 1);
}
.container-3 section {
    width: 100%;
    height: 438px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}
.container-3 section .box {
    width: 379px;
    height: 438px;
    border-radius: 6px ;
    border: 3px solid black;
    overflow: hidden;
}
.container-3 section .img-1 {
    background-image: url("../images/77052ebd58ad4ab32cb8e681535c55f0e558dea1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    right: 100px;
    width: 379px;
    height: 252px;
}
.container-3 section .img-2 {
    background-image: url(../images/c23a50da0da79c385a78cea5b203b9622498abcd\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 379px;
    height: 252px;
}
.container-3 section .img-3 {
    background-image: url(../images/649871bbb98c30ccdb28f40c33576ba1f336e7d6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 379px;
    height: 252px;
}
.container-3 section .main-text {
    font-family: Source Serif Pro;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 33.6px;
    letter-spacing: 0%;
    color: rgba(58, 95, 86, 1);
    margin: 20px;
}
.container-3 section .mini-text {
    width: 300px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    color: rgba(58, 95, 86, 1);
    margin: 20px;
}
.container-3 footer {
    margin-top: 50px;
    align-items: center;
    display: flex;
}
.container-3 footer .mini-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 23.8px;
    letter-spacing: 0%;
    color: rgba(58, 95, 86, 1);
}
.container-3 footer .mini-text i {
    position: relative;
    font-size: 17px;
    left: 10px;
    top: 3px;
}
.container-4 {
    width: 1690px;
    height: 779px;

}
.container-4 header {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1690px;
    height: 200px;
}
.container-4 header nav {
    padding-left: 250px;
}
.container-4 header nav .box {
    width: 800px;
    height: 259px;
    border-radius: 6px;
    background: rgba(244, 243, 240, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container-4 header nav .box .left .text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 220px;

}
.container-4 header nav .box .right button {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    width: 125px;
    height: 58px;
    background: rgba(58, 95, 86, 1);
    color: white;
    border-radius: 6px;
    border: none;
} 
.container-4 footer {
    width: 100%;
    height: 779px;
    background: rgba(41, 44, 50, 1);
    padding-top: 100px;
}
.container-4 footer nav {
    display: flex;
    justify-content: center;
    background: rgba(41, 44, 50, 1);

}
.container-4 footer nav .brand {
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.container-4 footer .full {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    padding-left: 100px;
}
.container-4 footer aside {
    display: flex;
    gap: 30px;
}
.container-4 footer aside .box-1 p:nth-child(1){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(184, 125, 88, 1);
}
.container-4 footer aside .box-1 p:nth-child(2){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;
}
.container-4 footer aside .box-1 p:nth-child(3){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;
    
}
.container-4 footer aside .box-1 p:nth-child(4){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;
    
}
.container-4 footer aside .box-1 p:nth-child(5){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-1 p:nth-child(6){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(184, 125, 88, 1);
    margin-top: 10px;


}
.container-4 footer aside .box-1 p:nth-child(7){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-1 p:nth-child(8){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-2 p:nth-child(1){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(184, 125, 88, 1);
}
.container-4 footer aside .box-2 p:nth-child(2){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;
    
}
.container-4 footer aside .box-2 p:nth-child(3){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;
    
}
.container-4 footer aside .box-2 p:nth-child(4){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;
    
}
.container-4 footer aside .box-2 p:nth-child(5){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-2 p:nth-child(6){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(184, 125, 88, 1);
    margin-top: 7px;
}
.container-4 footer aside .box-2 p:nth-child(7){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-2 p:nth-child(8){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-2 p:nth-child(9){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-2 p:nth-child(10){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-2 p:nth-child(11){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-2 p:nth-child(12){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-2 p:nth-child(13){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}


.container-4 footer aside .box-3 p:nth-child(1) {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(184, 125, 88, 1);
}
.container-4 footer aside .box-3 p:nth-child(2){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-3 p:nth-child(3){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-3 p:nth-child(4){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-3 p:nth-child(5){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}
.container-4 footer aside .box-3 p:nth-child(6){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: white;

}

.container-4 footer section  {
    margin-left: 100px;
}
.container-4 footer section .box p:nth-child(1){
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(184, 125, 88, 1);
}
.container-4 footer section .box p:nth-child(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    color: white;
    margin-top: 2px;
}
.container-4 footer section  input {
    width: 458px;
    height: 53px;
    border-radius: 6px;
    padding-left: 10px;
    margin-top: 5px;
}
::placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    color: rgba(171, 171, 171, 1);
}
.container-4 footer section  button {
    text-align: center;
    width: 71px;
    height: 39px;
    border-radius: 10px;
    background: rgba(41, 44, 50, 1);
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    color: white;
    border: none;
    position: relative;
    right: 85px;
}
.container-4 footer .bottom {
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    margin-top: 100px;
}
.container-4 footer .bottom .left {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}
.container-4 footer .bottom .left span {
    margin-left: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}
.container-4 footer .bottom .right i{
    color: white;
    font-size: 22px;
    margin-left: 10px;
}