* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/*header section start*/
header {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 100%;
}
.nav__brand{
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 1;
}
.nav__brand:active {
    opacity: 10%;
}
.nav__brand:hover {
    opacity: 70%;
}

.nav__right {
    display: flex;
    justify-content: space-around;
    width: 65%;
    position: relative;
}
.nav__right .nav__ul {
    display: flex;
    width: 65%; 
    justify-content: space-around;
}
.nav__right .nav__ul .nav__link {
    list-style-type: none;
    padding: 16px;
}
.nav__right .nav__ul .nav__link::after {
    content: "";
    width: 100%;
    height: 3px;
    background: black;
    display: block;
    transition: all 0.3s ease;
    position: relative;
    top: 18px;
    opacity: 0;
}
.nav__right .nav__ul .nav__link:hover::after {
    content: "";
    width: 100%;
    height: 3px;
    background: black;
    display: block;
    opacity: 1;
}

.nav__right .nav__ul .nav__link:active {
    background: rgba(0,0,0,0.4);
}
.nav__right .nav__ul .nav__link:active a {
    color: white;
}
.nav__right .nav__ul .nav__link a{
    text-decoration: none;
    color: black;
}

nav .call__btn {
    background: #00BAFC;
    width: 160px;
    height: 40px;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    position: absolute;
    right: -10px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
}
nav .call__btn:hover {
    width: 160px;
    height: 40px;
    color: #00BAFC;
    background: white;
    cursor: pointer;
    border: 3px solid #00BAFC;
}
nav .call__btn:active {
    width: 160px;
    height: 40px;
    color: white;
    background: #00BAFC;
    cursor: pointer;
    /*border: 3px solid #00BAFC;*/
    opacity: 60%;
}
.dropdown {
    position: relative;
    display: inline-block;

}
.menu-content {
    position: absolute;
    top: 8px;
    flex-direction: column;
    width: 150px;
    justify-content: center;
    top: 55px;
    left: -15px;
    border-radius: 5px;
    box-shadow: 0px 4px 24px rgba(0,0,0,0.1);
    display: none;
}
.dropdown:hover .menu-content {
    position: absolute;
    top: 8px;
    flex-direction: column;
    width: 140px;
    justify-content: center;
    top: 55px;
    left: -15px;
    border-radius: 5px;
    box-shadow: 0px 4px 24px rgba(0,0,0,0.1);
    display: flex;
}
.menu-content a {
    padding: 12px;
    transition: all 0.3s ease;
}
.menu-content a:hover {
    background: #00BAFC;
    padding: 12px;
    color: #fff;
}
.menu-content a:active {
    background: #00BAFC;
    color: white;
    opacity: 80%;
    padding: 12px;
}
/*header end*/